@import "tailwindcss";
@plugin "daisyui";

a.active{
    color: rgb(141, 149, 221);
}



.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: space-around; */
  font-family: sans-serif;
  text-align: center;
  padding-top: 40px;
}

.time {
  font-size: 32px;
}
@media (min-width: 375px) {
  .App {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;

  }
}
@media (min-width: 768px) {
  .App {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
  }
}
@media (min-width: 1036px) {
  .App {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
  }
}